h1 {
   font-family: 'Playfair Display', serif;
   color: #4682B4
}

p {
    font-family: 'Titillium Web', sans-serif;
    color: #696969
}

td {
    font-family: 'Noto Serif', serif;
    color: #4682B4
}

h4 {
    font-family: 'Catamaran', sans-serif;
    color: #696969
}

th {
    font-family: 'Noto Serif', serif;
    color: #191970
}

html {
    display: block;
}

head {
    display: none;
}

body {
    background-image: url("/img/white_background_image.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat-y;
    font-size: 14px;
    font-family: verdana;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    min-width: 220px;
}

.container {
    text-align: left;
    margin: 0;
    max-width: 984px;
    min-width: 984px;
    clear: both;
    padding: 0;
}

div {
    display: block;
}

#footer {
    max-width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

article {
    width: 100%;
    max-width: 1000px;
}


main_text {
    margin: auto;
    font-size: 16pt;
}

.nav {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    left: 0;
    top: 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: grey;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: grey;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}



